<!DOCTYPE html>
<html>
  <head>
    <title>Eventos de formulário</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </head>
  <body>
    <h2>Reservas</h2>
    <div class="content">
      <form method="post" action="/register" enctype="multipart/form-data">
        <label for="name" class="name">Nome</label>
        <input type="text" name="name" id="name" placeholder="Digite seu nome...">

        <label for="messagem">Mensagem</label>
        <input type="text" id="message" name="message" placeholder="Digite a mensagem...">

        <label for="people">Numero de pessoas</label>
        <select name="people" id="people">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>

        <label for="data">Data</label>
        <input type="date" id="date" name="date">

        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>
